Database Migration Fails from v0.12.2 to v0.13.0

<!-- Please reserve GitHub issues for bug reports and feature requests.

For questions, the best place to get answers is on our [discussion forum](https://discuss.hashicorp.com/c/boundary), as they will get more visibility from experienced users than the issue tracker.

Please note: We take Boundary's security and our users' trust very seriously. If you believe you have found a security issue in Boundary, please responsibly disclose by contacting us at security@hashicorp.com. Our PGP key is available at [our security page](https://www.hashicorp.com/security/).

-->

**Describe the bug**
When trying to migrate database from v0.12.2 to v0.13.0, following error is logged,

```
{"id":"y2mtNKTqsE","source":"https://hashicorp.com/boundary/boundary-controller-656d5d6f84-j5btf/boundary-database-migrate","specversion":"1.0","type":"error","data":{"error":"postgres.(Postgres).Run: migration failed (column 38), on line 40: -- Copyright (c) HashiCorp, Inc.\n-- SPDX-License-Identifier: MPL-2.0\n\nbegin;\n\n  -- Encodes binary data into URL safe base64 as specified in RFC 4648 Section 5.\n  -- See https://www.rfc-editor.org/rfc/rfc4648.html#section-5\n  create function wt_encode_base64_url_safe(bytes bytea) returns text\n  as $$\n    select rtrim(replace(replace(encode(bytes, 'base64'), '/', '_'), '+', '-'), '=');\n  $$ language sql\n     immutable\n     parallel safe -- all of the functions called are parallel safe\n     cost 1        -- all of the functions called are cost 1\n     strict;       -- means the function returns null on null input\n  comment on function wt_encode_base64_url_safe is\n    'Encodes binary data into URL safe base64';\n\n  -- wt_url_safe_id is a domain that constrains the characters of a value to the\n  -- unreserved character set defined RFC 3986 Section 2.3. The valid characters are\n  -- the ASCII characters in the 'a-z', 'A-Z', or '0-9' ranges plus the four ASCII\n  -- characters '~', '-', '.', and '_'.\n  --\n  -- See https://www.rfc-editor.org/rfc/rfc3986.html#section-2.3\n  create domain wt_url_safe_id as text\n    constraint wt_url_safe_id_can_only_contain_unreserved_characters\n      check (value ~ '^[a-zA-Z0-9\\-~\\._]+$')\n    constraint wt_url_safe_id_must_be_more_than_10_characters\n      check (length(trim(value)) \u003e 10);\n  comment on domain wt_url_safe_id is\n    'An ID that contains only URL safe characters';\n\n  -- wt_url_safe_id is a function that generates a secure random ID of 14\n  -- characters suitable for use as a public or private ID. IDs generated with\n  -- this function will only contain characters from the unreserved character set\n  -- defined in RFC 3986 Section 2.3 making them safe for use in a URL.\n  -- See https://www.rfc-editor.org/rfc/rfc3986.html#section-2.3\n  create function wt_url_safe_id() returns text\n  as $$\n    select wt_encode_base64_url_safe(gen_random_bytes(10));\n  $$ language sql\n     volatile\n     parallel safe -- all of the functions called are parallel safe\n     cost 1;       -- all of the functions called are cost 1\n  comment on function wt_url_safe_id is\n    'Returns a random ID of 14 characters containing URL safe characters only';\n\n  create function immutable_table() returns trigger\n  as $$\n  begin\n    raise exception 'immutable table: %!'(MISSING), tg_table_name using\n      errcode = '23603',\n      schema = tg_table_schema,\n      table = tg_table_name;\n    return null;\n  end;\n  $$ language plpgsql;\n  comment on function immutable_table is\n    'immutable_table() is a trigger function that prevents all changes to a table. '\n    'It must be added as a trigger to a table before insert, update, and delete events.';: unknown: error #0: ERROR: function gen_random_bytes(integer) does not exist (SQLSTATE 42883)","error_fields":{"Code":0,"Msg":"migration failed (column 38), on line 40: -- Copyright (c) HashiCorp, Inc.\n-- SPDX-License-Identifier: MPL-2.0\n\nbegin;\n\n  -- Encodes binary data into URL safe base64 as specified in RFC 4648 Section 5.\n  -- See https://www.rfc-editor.org/rfc/rfc4648.html#section-5\n  create function wt_encode_base64_url_safe(bytes bytea) returns text\n  as $$\n    select rtrim(replace(replace(encode(bytes, 'base64'), '/', '_'), '+', '-'), '=');\n  $$ language sql\n     immutable\n     parallel safe -- all of the functions called are parallel safe\n     cost 1        -- all of the functions called are cost 1\n     strict;       -- means the function returns null on null input\n  comment on function wt_encode_base64_url_safe is\n    'Encodes binary data into URL safe base64';\n\n  -- wt_url_safe_id is a domain that constrains the characters of a value to the\n  -- unreserved character set defined RFC 3986 Section 2.3. The valid characters are\n  -- the ASCII characters in the 'a-z', 'A-Z', or '0-9' ranges plus the four ASCII\n  -- characters '~', '-', '.', and '_'.\n  --\n  -- See https://www.rfc-editor.org/rfc/rfc3986.html#section-2.3\n  create domain wt_url_safe_id as text\n    constraint wt_url_safe_id_can_only_contain_unreserved_characters\n      check (value ~ '^[a-zA-Z0-9\\-~\\._]+$')\n    constraint wt_url_safe_id_must_be_more_than_10_characters\n      check (length(trim(value)) \u003e 10);\n  comment on domain wt_url_safe_id is\n    'An ID that contains only URL safe characters';\n\n  -- wt_url_safe_id is a function that generates a secure random ID of 14\n  -- characters suitable for use as a public or private ID. IDs generated with\n  -- this function will only contain characters from the unreserved character set\n  -- defined in RFC 3986 Section 2.3 making them safe for use in a URL.\n  -- See https://www.rfc-editor.org/rfc/rfc3986.html#section-2.3\n  create function wt_url_safe_id() returns text\n  as $$\n    select wt_encode_base64_url_safe(gen_random_bytes(10));\n  $$ language sql\n     volatile\n     parallel safe -- all of the functions called are parallel safe\n     cost 1;       -- all of the functions called are cost 1\n  comment on function wt_url_safe_id is\n    'Returns a random ID of 14 characters containing URL safe characters only';\n\n  create function immutable_table() returns trigger\n  as $$\n  begin\n    raise exception 'immutable table: %!'(MISSING), tg_table_name using\n      errcode = '23603',\n      schema = tg_table_schema,\n      table = tg_table_name;\n    return null;\n  end;\n  $$ language plpgsql;\n  comment on function immutable_table is\n    'immutable_table() is a trigger function that prevents all changes to a table. '\n    'It must be added as a trigger to a table before insert, update, and delete events.';","Op":"postgres.(Postgres).Run","Wrapped":{"Severity":"ERROR","Code":"42883","Message":"function gen_random_bytes(integer) does not exist","Detail":"","Hint":"No function matches the given name and argument types. You might need to add explicit type casts.","Position":1888,"InternalPosition":0,"InternalQuery":"","Where":"","SchemaName":"","TableName":"","ColumnName":"","DataTypeName":"","ConstraintName":"","File":"parse_func.c","Line":636,"Routine":"ParseFuncOrColumn"}},"id":"e_E0tcqGvlFJ","version":"v0.1","op":"postgres.(Postgres).Run"},"datacontentype":"application/cloudevents","time":"2023-06-14T12:40:20.535949795Z"}
{"id":"crxZ976v0v","source":"https://hashicorp.com/boundary/boundary-controller-656d5d6f84-j5btf/boundary-database-migrate","specversion":"1.0","type":"error","data":{"error":"schema.(Manager).runMigrations: postgres.(Postgres).Run: migration failed (column 38), on line 40: -- Copyright (c) HashiCorp, Inc.\n-- SPDX-License-Identifier: MPL-2.0\n\nbegin;\n\n  -- Encodes binary data into URL safe base64 as specified in RFC 4648 Section 5.\n  -- See https://www.rfc-editor.org/rfc/rfc4648.html#section-5\n  create function wt_encode_base64_url_safe(bytes bytea) returns text\n  as $$\n    select rtrim(replace(replace(encode(bytes, 'base64'), '/', '_'), '+', '-'), '=');\n  $$ language sql\n     immutable\n     parallel safe -- all of the functions called are parallel safe\n     cost 1        -- all of the functions called are cost 1\n     strict;       -- means the function returns null on null input\n  comment on function wt_encode_base64_url_safe is\n    'Encodes binary data into URL safe base64';\n\n  -- wt_url_safe_id is a domain that constrains the characters of a value to the\n  -- unreserved character set defined RFC 3986 Section 2.3. The valid characters are\n  -- the ASCII characters in the 'a-z', 'A-Z', or '0-9' ranges plus the four ASCII\n  -- characters '~', '-', '.', and '_'.\n  --\n  -- See https://www.rfc-editor.org/rfc/rfc3986.html#section-2.3\n  create domain wt_url_safe_id as text\n    constraint wt_url_safe_id_can_only_contain_unreserved_characters\n      check (value ~ '^[a-zA-Z0-9\\-~\\._]+$')\n    constraint wt_url_safe_id_must_be_more_than_10_characters\n      check (length(trim(value)) \u003e 10);\n  comment on domain wt_url_safe_id is\n    'An ID that contains only URL safe characters';\n\n  -- wt_url_safe_id is a function that generates a secure random ID of 14\n  -- characters suitable for use as a public or private ID. IDs generated with\n  -- this function will only contain characters from the unreserved character set\n  -- defined in RFC 3986 Section 2.3 making them safe for use in a URL.\n  -- See https://www.rfc-editor.org/rfc/rfc3986.html#section-2.3\n  create function wt_url_safe_id() returns text\n  as $$\n    select wt_encode_base64_url_safe(gen_random_bytes(10));\n  $$ language sql\n     volatile\n     parallel safe -- all of the functions called are parallel safe\n     cost 1;       -- all of the functions called are cost 1\n  comment on function wt_url_safe_id is\n    'Returns a random ID of 14 characters containing URL safe characters only';\n\n  create function immutable_table() returns trigger\n  as $$\n  begin\n    raise exception 'immutable table: %!'(MISSING), tg_table_name using\n      errcode = '23603',\n      schema = tg_table_schema,\n      table = tg_table_name;\n    return null;\n  end;\n  $$ language plpgsql;\n  comment on function immutable_table is\n    'immutable_table() is a trigger function that prevents all changes to a table. '\n    'It must be added as a trigger to a table before insert, update, and delete events.';: unknown: error #0: ERROR: function gen_random_bytes(integer) does not exist (SQLSTATE 42883)","error_fields":{"Code":0,"Msg":"","Op":"schema.(Manager).runMigrations","Wrapped":{"Code":0,"Msg":"migration failed (column 38), on line 40: -- Copyright (c) HashiCorp, Inc.\n-- SPDX-License-Identifier: MPL-2.0\n\nbegin;\n\n  -- Encodes binary data into URL safe base64 as specified in RFC 4648 Section 5.\n  -- See https://www.rfc-editor.org/rfc/rfc4648.html#section-5\n  create function wt_encode_base64_url_safe(bytes bytea) returns text\n  as $$\n    select rtrim(replace(replace(encode(bytes, 'base64'), '/', '_'), '+', '-'), '=');\n  $$ language sql\n     immutable\n     parallel safe -- all of the functions called are parallel safe\n     cost 1        -- all of the functions called are cost 1\n     strict;       -- means the function returns null on null input\n  comment on function wt_encode_base64_url_safe is\n    'Encodes binary data into URL safe base64';\n\n  -- wt_url_safe_id is a domain that constrains the characters of a value to the\n  -- unreserved character set defined RFC 3986 Section 2.3. The valid characters are\n  -- the ASCII characters in the 'a-z', 'A-Z', or '0-9' ranges plus the four ASCII\n  -- characters '~', '-', '.', and '_'.\n  --\n  -- See https://www.rfc-editor.org/rfc/rfc3986.html#section-2.3\n  create domain wt_url_safe_id as text\n    constraint wt_url_safe_id_can_only_contain_unreserved_characters\n      check (value ~ '^[a-zA-Z0-9\\-~\\._]+$')\n    constraint wt_url_safe_id_must_be_more_than_10_characters\n      check (length(trim(value)) \u003e 10);\n  comment on domain wt_url_safe_id is\n    'An ID that contains only URL safe characters';\n\n  -- wt_url_safe_id is a function that generates a secure random ID of 14\n  -- characters suitable for use as a public or private ID. IDs generated with\n  -- this function will only contain characters from the unreserved character set\n  -- defined in RFC 3986 Section 2.3 making them safe for use in a URL.\n  -- See https://www.rfc-editor.org/rfc/rfc3986.html#section-2.3\n  create function wt_url_safe_id() returns text\n  as $$\n    select wt_encode_base64_url_safe(gen_random_bytes(10));\n  $$ language sql\n     volatile\n     parallel safe -- all of the functions called are parallel safe\n     cost 1;       -- all of the functions called are cost 1\n  comment on function wt_url_safe_id is\n    'Returns a random ID of 14 characters containing URL safe characters only';\n\n  create function immutable_table() returns trigger\n  as $$\n  begin\n    raise exception 'immutable table: %!'(MISSING), tg_table_name using\n      errcode = '23603',\n      schema = tg_table_schema,\n      table = tg_table_name;\n    return null;\n  end;\n  $$ language plpgsql;\n  comment on function immutable_table is\n    'immutable_table() is a trigger function that prevents all changes to a table. '\n    'It must be added as a trigger to a table before insert, update, and delete events.';","Op":"postgres.(Postgres).Run","Wrapped":{"Severity":"ERROR","Code":"42883","Message":"function gen_random_bytes(integer) does not exist","Detail":"","Hint":"No function matches the given name and argument types. You might need to add explicit type casts.","Position":1888,"InternalPosition":0,"InternalQuery":"","Where":"","SchemaName":"","TableName":"","ColumnName":"","DataTypeName":"","ConstraintName":"","File":"parse_func.c","Line":636,"Routine":"ParseFuncOrColumn"}}},"id":"e_U7XNOJBn8I","version":"v0.1","op":"schema.(Manager).runMigrations"},"datacontentype":"application/cloudevents","time":"2023-06-14T12:40:20.53629145Z"}
{"id":"maDvbnwJeQ","source":"https://hashicorp.com/boundary/boundary-controller-656d5d6f84-j5btf/boundary-database-migrate","specversion":"1.0","type":"error","data":{"error":"postgres.(Postgres).CommitRun: unknown, unknown: error #0: commit unexpectedly resulted in rollback","error_fields":{"Code":0,"Msg":"","Op":"postgres.(Postgres).CommitRun","Wrapped":{}},"id":"e_9JwKGiNyLT","version":"v0.1","op":"postgres.(Postgres).CommitRun"},"datacontentype":"application/cloudevents","time":"2023-06-14T12:40:20.53787344Z"}
{"id":"Fb9rmTDV0S","source":"https://hashicorp.com/boundary/boundary-controller-656d5d6f84-j5btf/boundary-database-migrate","specversion":"1.0","type":"error","data":{"error":"schema.(Manager).runMigrations: postgres.(Postgres).CommitRun: unknown, unknown: error #0: commit unexpectedly resulted in rollback","error_fields":{"Code":0,"Msg":"","Op":"schema.(Manager).runMigrations","Wrapped":{"Code":0,"Msg":"","Op":"postgres.(Postgres).CommitRun","Wrapped":{}}},"id":"e_ZWfA6vnRCg","version":"v0.1","op":"schema.(Manager).runMigrations"},"datacontentype":"application/cloudevents","time":"2023-06-14T12:40:20.537993784Z"}
Error running database migrations: schema.(Manager).runMigrations: postgres.(Postgres).Run: migration failed (column 38), on line 40: 
-- Copyright (c) HashiCorp, Inc.
-- SPDX-License-Identifier: MPL-2.0

begin;

  -- Encodes binary data into URL safe base64 as specified in RFC 4648 Section 5.
  -- See https://www.rfc-editor.org/rfc/rfc4648.html#section-5
  create function wt_encode_base64_url_safe(bytes bytea) returns text
  as $$
    select rtrim(replace(replace(encode(bytes, 'base64'), '/', '_'), '+', '-'), '=');
  $$ language sql
     immutable
     parallel safe -- all of the functions called are parallel safe
     cost 1        -- all of the functions called are cost 1
     strict;       -- means the function returns null on null input
  comment on function wt_encode_base64_url_safe is
    'Encodes binary data into URL safe base64';

  -- wt_url_safe_id is a domain that constrains the characters of a value to the
  -- unreserved character set defined RFC 3986 Section 2.3. The valid characters are
  -- the ASCII characters in the 'a-z', 'A-Z', or '0-9' ranges plus the four ASCII
  -- characters '~', '-', '.', and '_'.
  --
  -- See https://www.rfc-editor.org/rfc/rfc3986.html#section-2.3
  create domain wt_url_safe_id as text
    constraint wt_url_safe_id_can_only_contain_unreserved_characters
      check (value ~ '^[a-zA-Z0-9\-~\._]+$')
    constraint wt_url_safe_id_must_be_more_than_10_characters
      check (length(trim(value)) > 10);
  comment on domain wt_url_safe_id is
    'An ID that contains only URL safe characters';

  -- wt_url_safe_id is a function that generates a secure random ID of 14
  -- characters suitable for use as a public or private ID. IDs generated with
  -- this function will only contain characters from the unreserved character set
  -- defined in RFC 3986 Section 2.3 making them safe for use in a URL.
  -- See https://www.rfc-editor.org/rfc/rfc3986.html#section-2.3
  create function wt_url_safe_id() returns text
  as $$
    select wt_encode_base64_url_safe(gen_random_bytes(10));
  $$ language sql
     volatile
     parallel safe -- all of the functions called are parallel safe
     cost 1;       -- all of the functions called are cost 1
  comment on function wt_url_safe_id is
    'Returns a random ID of 14 characters containing URL safe characters only';

  create function immutable_table() returns trigger
  as $$
  begin
    raise exception 'immutable table: %!'(MISSING), tg_table_name using
      errcode = '23603',
      schema = tg_table_schema,
      table = tg_table_name;
    return null;
  end;
  $$ language plpgsql;
  comment on function immutable_table is
    'immutable_table() is a trigger function that prevents all changes to a table. '
    'It must be added as a trigger to a table before insert, update, and delete events.';
    
: unknown: error #0: ERROR: function gen_random_bytes(integer) does not exist (SQLSTATE 42883)
```

**To Reproduce**
Steps to reproduce the behavior:
1. Stop all boundary controller and worker
2. run "boundary database migrate -config <config.hcl>"
3. See error

**Expected behavior**
successful database migration

**Additional context**
It is tried in Azure Postgres Flexible Server


Hi @logamanig,

Thanks for opening this issue. The migrations are failing because the function `gen_random_bytes(integer)` does not exist. That function is provided by the `pgcrypto` extension which should have been installed in an [earlier migration](https://github.com/hashicorp/boundary/blob/4f1552abdec339e582cac3f57d8d7580d639e9a3/internal/db/schema/migrations/oss/postgres/0/60_wh_domain_types.up.sql#L6).

Can you share the list of extensions currently installed by running the following query and posting the results?

```sql
select * from pg_extension;
```


Hi @mgaffney , thank you for the response! it was my mistake not to enable pgcrypto in new server. it's working for me now after enabling pgcrypto and also btree_gist